<img class="main-logo" src="assets/images/logo.png" alt="logo">

<p class="main-tittle">
    Find your perfect match,
    Create your perfect <br>
    TEAM.
</p>
<p class="main-paragraph">
  Being with uncooperative players is a
  disadvantage and causes the level or rank
  in the game to be affected by the fault of
  other players. Team Finder  implement a
  system where players can either look for a
  group or create their own so other people
  can join.
</p>

<img class="hand-with-controller" src ="assets/images/base.png" alt="hand with controller">

