
/*P.S. css at rul is flagging as unknown, but tailwind still works.
        we have to find a way so that the project ignores it. */
/*      To fix the issue, download Tailwind CSS plugin in intelliJ*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: WildWorld;
  src: url("assets/fonts/WILD WORLD.otf") format("opentype");
}

body{
  @apply bg-background-purple m-0 p-0 flex ;
}

.hand-with-controller{
  position: absolute;
  width: 686.45px;
  height: 609.19px;
  left: 300px;
  top: 296.58px;
  transform: rotate(-0.55deg);
  z-index: 5;
}

.about-container{
  width: 1206px;
  height: 560px;
  top: 900px;
  @apply mx-28 absolute flex shadow-2xl box-border bg-about-grey border-2 border-about-blue rounded-about-border ;
}

.about-person{
  width: 422px;
  height: 319px;
  @apply relative left-24 top-1/4 rounded-md;
}

.about-paragraph{
  width: 438px;
  height: 243px;
  @apply relative left-60 top-36 font-sans text-base font-bold text-about-blue;
}

.main-tittle{
  position: absolute;

  height: 200px;
  width: 50%;
  top: 300px;
  left: 50%;
  margin-left: -360px;
  font-weight: normal;
  font-size: 40px;
  line-height: 110%;
  font-family: WildWorld;
  /* or 53px */



  /* 4 */

  color: #B8EBFA;

}
.main-paragraph{

  position: absolute;
  width: 418px;
  height: 200px;
  left: 309px;
  top: 511px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.main-logo{
  position: absolute;
  width: 162px;
  height: 160px;
  left: 210px;
  top: 30px;
  border-radius: 65px;
}

.nav-item{
  font-family: WildWorld;
  @apply
  relative flex items-center justify-center
  border-transparent border-2
  rounded-2xl
  h-12 w-32
  pb-1.5 pt-1.5 pr-6 pl-6
  ml-6 mr-6 mx-auto
  text-xl not-italic bg-background-purple shadow-inner
  hover:shadow-lg
  hover:rounded-3xl
  hover:bg-about-grey
  hover:text-about-blue
  hover:border-about-blue
  transition-all ease-in-out duration-500
  cursor-pointer;
}

.custom-shape-divider-top-1634946153 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1634946153 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 43px;
}

.custom-shape-divider-top-1634946153 .shape-fill {
  fill: #9013FE;
}

.custom-shape-divider-bottom-1634946272 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1634946272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.custom-shape-divider-bottom-1634946272 .shape-fill {
  fill: #9013FE;
}

