<div class="about-container z-10">
  <img class="about-person" src="assets/images/person.png" alt="person">
  <div class="relative flex-col">
    <p class="about-tittle">TEAM FINDER</p>
    <p class="about-paragraph"> We want to facilitate the process of finding suitable teammates for a MOBA,
      without having to actually meet them in game first with no background knowledge of their skill and behavior.
      This way, we reduce strife between players, maximize enjoyment of the game and keep a consistent balance.
    </p>
  </div>
</div>

